<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.story-border.app"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>story boarder</name>

    <description>
        A simple little mobile app that connects to a server
    </description>

    <author href="http://www.petersharp.co.nz" email="peter@petersharp.co.nz">
        Peter Sharp
    </author>
    
    <access origin="*"/>
    
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
</widget>
